
/* <---> <---|---> <--->

      === INDICE ===

      1. Variables
        1.1 Color Palette
      2. Global tags
      3. Home
        3.1 id
        3.2 Animations

   <---> <---|---> <---> */


   /* === 1. Variables === */

:root {
        /* -> 1.1 Color Palette <- */
  --mmbr-dark-1: #0B0909;
  --mmbr-dark-2: #161212;
  --mmbr-dark-3: #221C1C;

  --mmbr-light-1: #E5CDC8;
  --mmbr-light-2: #ECDAD5;
  --mmbr-light-3: #F2E6E3;

  --mmbr-primary-1: #F41542;
  --mmbr-primary-2: #F52F57;

  --mmbr-secondary-1: #5AFF47;
  --mmbr-secondary-2: #80FF72;

  --mmbr-error-1: #d1002d;
  --mmbr-error-2: #ff0037;
}

   /* === 2.Global tags === */ 

* {
  padding: 0;
  margin: 0;
}

html, body {
  /* display: none; */
  /* background-color:blueviolet; */
  font-size:45%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
}

h1, h2{
  margin: 0 0 10px 0;

}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

   /* === 3. Home === */ 

    /* -> 3.1 id <- */

.home-header, .home-content {
  /* padding: 20px 20px 0 20px; */
  width: 50%;
  height: 100vh;
  position: relative;
}

.home-header {
  /* background-color:var(--mmbr-dark-2); */
  float:left;
  background-image: url(img/home-background-blur-1.png);
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 34vh 34vh;
  /* border: 1px solid black; */
}

.home-content {
  background-color:var(--mmbr-light-2);
  float:right;
  /* border: 1px solid rgb(98, 0, 255); */
}

.title-wrapper, .home-buttons-wrapper {

  width:75%;
  /* margin: auto;
  margin-top:15vh; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-main {
  margin:auto;
  font-size:10em;
  font-weight: 900;
  display: flex;
  color: var(--mmbr-light-2);
}

.title-text {
  margin:auto;
  font-size:6em;
  font-weight: 700;
  display: flex;
  color: var(--mmbr-light-2);
}

.home-login-button, .home-signin-button {
  padding:10px;
  font-weight: bold;
  display: flex;
  border-radius: 20px;
  font-size: 8em;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.home-login-button {
  color: var(--mmbr-light-2);
  background-color: var(--mmbr-primary-2);
  border:2px solid var(--mmbr-primary-2);
}

.home-signin-button {
  color: var(--mmbr-primary-2);
  background-color: var(--mmbr-light-2);
  border:2px solid var(--mmbr-primary-2);
}

.button-text {
  /* text-align: center; */
  margin: auto;
  text-decoration: none;
  list-style-type: none;
}

      /* -> 3.3 Animations <- */

/* Ripple Out */
@-webkit-keyframes mmbr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes mmbr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.mmbr-ripple-out:before {
  content: '';
  position:absolute;
  border:3px solid var(--mmbr-primary-2);
  border-radius: 20px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.mmbr-ripple-out:focus:before {
  -webkit-animation-name: mmbr-ripple-out;
  animation-name: mmbr-ripple-out;
}

/* Push */
@-webkit-keyframes mmbr-push {
  50% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes mmbr-push {
  50% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.mmbr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.mmbr-push:focus, .mmbr-push:active {
  -webkit-animation-name: mmbr-push;
  animation-name: mmbr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}